.git
node_modules
native/rinha-lb/target
native/rinha-server/target
test
docs
resources/*
!resources/references.ivf.bin
!resources/references.ivf-blocks.bin
!resources/references.ivf-blocks-K4096.bin
data-generator
participants
misc
*.md
test/results.json
